@charset "UTF-8";
.ms--images {
  position: relative;
  overflow: hidden;
}
.ms--images.ms-container--horizontal {
  width: 100%;
  height: 60vh;
  max-width: 100%;
}
.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 30vw);
}
.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--images .ms-track .ms-slide {
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.ms--images {
  position: relative;
  left: calc(60% - 30vw);
  /* Ajustements pour très petits écrans */
}
.ms--images.ms-container--horizontal .ms-track {
  left: -50px;
}
.ms--images .ms-slide {
  position: relative;
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background-image: url("../img/project-jadnart.webp");
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background-image: url("../img/project-PEC2025.webp");
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background-image: url("../img/project-infirmiere.webp");
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background-image: url("../img/project-immo.webp");
}
.ms--images .ms-slide:nth-child(5) .ms-slide__image {
  background-image: url("../img/project-portfolio.webp");
}
.ms--images .ms-slide .swipe-overlay {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 80px !important;
  z-index: 50 !important;
  pointer-events: none !important;
}
.ms--images .ms-slide .swipe-overlay::after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  right: 30px !important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  width: 12px !important;
  height: 12px !important;
  border-top: 2px solid rgb(var(--text-color)) !important;
  border-right: 2px solid rgb(var(--text-color)) !important;
  z-index: 52 !important;
  animation: pulse 1.5s infinite !important;
}
@media screen and (max-width: 374px) {
  .ms--images ms--images .ms-slide .swipe-overlay {
    width: 60px !important;
  }
  .ms--images ms--images .ms-slide .swipe-overlay::after {
    right: 60px !important;
  }
}
.ms--images .ms-slide__image-container {
  width: 90%;
  height: 100%;
  margin: 5%;
  background-color: rgba(var(--bg-color1), 0.3);
  overflow: hidden;
}
.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--numbers .ms-track .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ms--numbers {
  position: absolute;
  left: calc(35% - 30vw);
  top: calc(25% - 30vh);
  z-index: -1;
  pointer-events: none;
}
.ms--numbers .ms-slide {
  font-family: var(--font-title);
  font-size: 9em;
  font-weight: 900;
  color: rgb(var(--color-button));
}

.ms--titles {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.ms--titles.ms-container--vertical {
  width: 350px;
  height: 100px;
  max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 50px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 50px);
}
.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--titles .ms-track .ms-slide {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ms--titles {
  position: absolute;
  left: calc(15% - 175px);
  top: calc(30% - 50px);
  z-index: 1;
  pointer-events: none;
  overflow: visible;
}
.ms--titles.ms-container--vertical .ms-track {
  top: 0 !important;
  transform: none !important;
}
.ms--titles .ms-slide {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--text-color));
  font-family: var(--font-title);
  letter-spacing: 0.15em;
  font-size: 2.5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.ms--titles .ms-slide.ms-slide--active {
  opacity: 1;
}
.ms--titles .ms-slide h4 {
  margin: 0;
  text-shadow: 2px 2px 2px rgb(var(--color-solid));
  width: 100%;
  text-align: left;
  line-height: 1.2;
  transform: translateY(50px);
  transition: transform 0.5s ease;
}

.ms--descriptions {
  position: relative;
  overflow: hidden;
}
.ms--descriptions.ms-container--vertical {
  width: 350px;
  height: 120px;
  max-height: 100%;
}
.ms--descriptions.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 60px);
}
.ms--descriptions.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 60px);
}
.ms--descriptions.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--descriptions .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--descriptions .ms-track .ms-slide {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ms--descriptions {
  position: absolute;
  left: calc(18% - 175px);
  top: calc(80% - 60px);
  z-index: 1;
  pointer-events: none;
  text-align: left;
}
.ms--descriptions .ms-- .ms-track {
  white-space: normal;
}
.ms--descriptions .ms-slide {
  letter-spacing: 0.2em;
}

.ms--links {
  position: relative;
  overflow: hidden;
}
.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--links .ms-track .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(15% - 175px);
  top: calc(100% - 60px);
  z-index: 1;
  text-align: left;
}
.ms--links .ms-track {
  white-space: normal;
}
.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid rgb(var(--text-color));
  text-decoration: none;
  cursor: pointer;
  color: rgba(var(--color-solid), 1);
}
.ms--links .ms-slide__link:hover {
  cursor: pointer;
  color: rgb(var(--text-color));
}
.ms--links .ms--links .ms-slide__link {
  pointer-events: auto;
}

.pagination {
  display: flex;
  position: absolute;
  left: 40%;
  top: 65vh;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
}
.pagination__button:before, .pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  box-shadow: 0 1px 4px rgb(var(--text-color));
}
.pagination__button:before {
  height: 2px;
  background-color: rgb(var(--color-button));
}
.pagination__button:after {
  height: 3px;
  background-color: rgb(var(--text-color));
  opacity: 0;
  transition: 0.8s opacity;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(var(--bg-color1), 0.1);
}
.container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(var(--bg-color1), 0.3);
  transform: rotate(45deg);
  z-index: -1;
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media only screen and (max-width: 1023px) {
  .ms--images .ms-slide::after, .ms--images .ms-slide::before {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .ms--images .ms-slide::before {
    width: 25px;
    height: 25px;
    right: 5px;
  }
  .ms--images .ms-slide::after {
    width: 10px;
    height: 10px;
    right: 12px;
  }
}
/* Pour mobile (orientation: portrait) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ms--numbers {
    left: calc(40% - 30vw);
    top: calc(200% - 30vh);
    transform: scale(150%, 150%);
  }
  .ms--numbers .ms-slide {
    font-family: var(--font-title);
    font-size: 9em;
    font-weight: 900;
    color: rgba(var(--color-button), 0.5);
  }
  .ms--images {
    position: relative;
    overflow: hidden;
  }
  .ms--images.ms-container--horizontal {
    width: 400px;
    height: 300px;
    max-width: 100%;
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: calc(50% - 212.5px);
  }
  .ms--images.ms-container--horizontal .ms-slide {
    display: inline-flex;
  }
  .ms--images .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--images .ms-track .ms-slide {
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 300px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .ms--images {
    left: -20vw;
    top: 5vh;
    overflow: visible;
  }
  .ms--images .ms-slide__image-container {
    width: 90%;
    height: 80%;
  }
  .ms--titles {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    left: 50%;
    top: calc(-10% - 25px);
    transform: translate(-30%, -20%);
    width: 100%;
  }
  .ms--titles.ms-container--vertical .ms-track {
    width: 100%;
    left: 0;
  }
  .ms--descriptions {
    position: relative;
    overflow: hidden;
  }
  .ms--descriptions.ms-container--horizontal {
    width: 100vw;
    height: 10vh;
    max-width: 100%;
  }
  .ms--descriptions.ms-container--horizontal .ms-track {
    left: calc(50% - 50vw);
  }
  .ms--descriptions.ms-container--horizontal .ms-slide {
    display: inline-flex;
  }
  .ms--descriptions .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--descriptions .ms-track .ms-slide {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .ms--descriptions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(50%, 180%);
  }
  .ms--descriptions {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    z-index: 10;
  }
  .ms--descriptions .ms-slide {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ms--links {
    left: calc(50% - 60px);
    top: calc(180% - 30px);
    z-index: 2;
    text-align: center;
    bottom: 25vh;
    left: 50%;
    transform: translateX(-50%);
    transform: translate(-50%, 150%);
    z-index: 11;
  }
  .pagination {
    left: calc(35% - 60px);
    top: 85vh;
  }
}
/* Pour tablette (orientation: paysage) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ms--numbers {
    left: calc(30% - 30vw);
    top: calc(5% - 30vh);
  }
  .ms--titles {
    left: calc(25% - 175px);
    top: calc(90% - 50px);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
  }
  .ms--images {
    left: calc(60% - 40vw);
    overflow: visible;
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: 0px;
  }
  .ms--images .ms-slide__image-container {
    width: 100%;
    height: 75%;
  }
  .ms--descriptions {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .ms--descriptions.ms-container--vertical {
    width: 200px;
    height: 120px;
    max-height: 100%;
  }
  .ms--descriptions.ms-container--vertical .ms-track {
    flex-direction: column;
    top: calc(50% - 60px);
  }
  .ms--descriptions.ms-container--vertical.ms-container--reverse .ms-track {
    flex-direction: column-reverse;
    top: auto;
    bottom: calc(50% - 60px);
  }
  .ms--descriptions.ms-container--vertical .ms-slide {
    display: flex;
    flex-direction: column;
  }
  .ms--descriptions .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--descriptions .ms-track .ms-slide {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .ms--descriptions {
    transform: translate(50%, 180%);
    position: absolute;
    left: 35%;
    top: 105%;
    transform: translateY(-50%);
    text-align: center;
  }
  .ms--descriptions .ms-slide {
    letter-spacing: 0.1em;
  }
  .ms--descriptions .ms-slide p {
    margin: 0;
    padding: 10px;
    line-height: 1.5;
  }
  .ms--links {
    left: 50%;
    top: calc(100% - 30px);
    transform: translate(-50%, 150%);
    text-align: center;
    z-index: 2;
  }
  .pagination {
    left: 50%;
    top: 70vh;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=carousel.css.map */